node_modules/

.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.DS_Store
/contracts/.DS_Store

.pnp.*
/artifacts/
/deployments/
/cache/
/typechain/
/.idea/
secrets.json
settings.json
slither.db.json

/bin/storage


